<h1>How to Use Sapo Manager</h1>

<h3>What it does for you?</h3>
<p>
	Sapo Manager is a web application that tracks and calculates poitns scored wtihin a game of sapo.
	So drop the pen and paper and let the Sapo Manager do all the work for you!
</p>

<ol>
	<li>Click on New Game Button on the home page to setup you Sapo Game Manager</li>
	
	<li>Creating the Game</li>
	<p>Give your game a unique name, the number of players playing on each team, and the score limit that you wish to play up to </p>

	<li>Add Teams!</li>
	<p>In each game there should be at least two teams ready to play. If there aren't enough players playing on a team or there are either 0 or 1 team, you will not be able to start your game.</p>
	<p>Give your team a unique name. Once you create your team you will be allowed to create your players playing on that team as well</p>
	
	<li>Add Players to Team</li>
	<p>When creating players add the name that you wish to represent your player</p>

	<li>Hit Start Game!</li>
	<p>Once the teams and players are ready you will see the Start Game in the Game Setup page</p>

	<li>Playing Sapo</li>
	<p>The Sapo Manager will let you know which team is up and what player from that team is throwing. Once you have summed up your score, you can easily add your points. You will see a scoreboard that will keep track of the team's total score. The Sapo Manager also lets you know how many points you need to score in order to win the game</p>

	<li>Victory!</li>
	<p>As soon as a person wins the Sapo Manager immediately announces the winner. Individuals can tweet their victory and share the Sapo Manager link to their followers</p>

</ol>