<h1>What is Sapo?</h1>


<h3>South American Roots</h3>
<p>Sapo is played mostly in South American countires such as Peru, Colombia, and Ecuador.
	The game originated from the Incas and eventually spread throughout Latin America. For those countires that do 
	play Sapo may have different rules or different Sapo game set ups.
</p>
<h3>Rules</h3>
<p>
Each player will toss 6 tokens one at a time into the Sapo gamebox.

Once all the tokens are tossed, you proceed to total the points acquired.

Only the tokens that fell through the top of the Sapo are counted.

The tokens that were tossed and entered the game through
the front are not counted into the player's total score.
</p>
<p>
The players toss the tokens in turn until one player or team reaches the score limit that was agreed upon.

In case of a tie, a new round is played between the finalist.

Once your token has been tossed, you can not have a retoss
</p>
<p>
It is prohibited to approach, distract or cross in front of the player while he/she is tossing.
The highest point can be acquired by tossing the token into the frog's mouth. If it happens you should must yell Sapo!
</p>

<h3>Distance </h3>
<p>When playing there is a set distance that must be kept from the player throwing the token and the sapo game piece. Usually it is at least 5 meters away from the sapo game piece</p>
