<div class = "hero-unit">
	<h1>Manage Your Sapo</h1>
	
	<div class ="linkTo">
		<%=link_to (new_game_path) do %>
			<div class="btn btn-inverse">
				<span>New Game</span>
			</div>
		<% end %>
	</div>
</div>