// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content{
	p{
		
	}
	.hero-unit{
		.linkTo{
			margin-top:30px;
			.btn{
				color: #fff;
				a{
					&:visited{
						color:#fff;
					}
				}
			}
		}
	}

	form{
		margin-top:50px;
	}

	#scoreBoard{
		float:left;
		margin-top: 25px;
		border-top: 1px solid #fff;
		width: 300px;
		p{
			float:left;
			margin-top: 5px;
		}
		.points{
			margin-left:10px;
		}

		.clearfix{
			border-bottom: 1px solid #fff;
		}
	}

	#upToBat{
		float: left;
		margin-left: 50px;
	}
}